name: Docker Image CI for GHCR

on:
  push

jobs:
  build_and_publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Build and push the Image
        run: |
          podman login --username codigo3000 --password ${{ secrets.GH_PAT }} ghcr.io
          podman build . --tag ghcr.io/codigo3000/hello-world-ghcr:latest
          podman push ghcr.io/codigo3000/hello-world-ghcr:latest